version: 2
jobs:
  build:
    working_directory: /root/PSO2
    docker:
      - image: python:3
    branches:
      ignore:
        - develop
        - /feature-.*/
        - JP
        - /*_Old/
    steps:
      - run:
          name: Update APT listing
          command: apt-get -qq update
      - run:
          name: Install rsync, fast, versatile, remote (and local) file-copying tool
          command: apt-get -qq -y install rsync
      - checkout
      - run:
          name: Verify CSVs as UTF-8
          command: ./_sh/UTF8.sh
      - run:
          name: Verify CSVs without BOM
          command: ./_sh/BOM.sh
      - run:
          name: Verify CSVs
          command: bash ./_sh/CSV.sh
      - run:
          name: Verify Font rendering
          command: ./_sh/Fonts.sh
      - run:
          name: Verify folder layout
          command: ./_sh/checkFiles.sh
      - run:
          name: Checking DUP folders
          command: bash ./_sh/dupfolders.sh
      - run:
          name: checking CSVs for quote issues
          command: bash ./_sh/quote.sh
      - run:
          name: verifing CSVs for PSO2 format
          command: bash ./_sh/check.sh
      - run:
          name: coverage CSVs
          command: bash ./_sh/coverage.sh>/tmp/coverage.txt
      - run:
          name: Install GNU Aspell spell-checker
          command: apt-get -qq -y install aspell-ru
      - run:
          name: spell check CSVs
          command: bash ./_sh/aspell.sh|tee /tmp/spellcheck.txt|./_tools/sortaspell.sh|tee /tmp/dict.txt
      - store_artifacts:
          path: /tmp/coverage.txt
          destination: coverage.txt
      - store_artifacts:
          path: /tmp/spellcheck.txt
          destination: spellcheck.txt
      - store_artifacts:
          path: /tmp/dict.txt
          destination: dict.txt

