version: 2
jobs:
  build:
    working_directory: /root/PSO2
    docker:
      - image: python:3-stretch
        environment:
          PARALLEL_SHELL: /bin/sh
          SHELL: /bin/sh
          PARALLEL: --block 43K
    branches:
      ignore:
        - develop
        - /feature-.*/
        - JP
        - /*_Old/
    steps:
      - run:
          name: Update APT listing
          command: apt-get -qq update
      - run:
          name: Install rsync and parallel
          command: apt-get -qq -y install rsync parallel
      - checkout
      - run:
          name: Add upstream repos
          command: git remote add -f --tags upstream https://github.com/Arks-Layer/PSO2ENPatchCSV.git
      - run:
          name: Checking DUP files
          command: ./_sh/dupfiles.sh
      - run:
          name: Verify CSVs as UTF-8
          command: ./_sh/UTF8.sh
      - run:
          name: Verify CSVs without BOM
          command: ./_sh/BOM.sh
      - run:
          name: Verify CSVs
          command: ./_sh/CSV.sh
      - run:
          name: Verify Font rendering
          command: ./_sh/Fonts.sh
      - run:
          name: Verify folder layout
          command: ./_sh/checkFiles.sh
      - run:
          name: Checking DUP folders
          command: ./_sh/dupfolders.sh
      - run:
          name: checking CSVs for quote issues
          command: ./_sh/quote.sh
      - run:
          name: Check for dup lines
          command: ./_sh/dupCSV.sh
      - run:
          name: verifing CSVs for PSO2 format
          command: ./_sh/check.sh
      - run:
          name: coverage CSVs
          command: ./_sh/coverage.sh>/tmp/coverage.txt
      - run:
          name: Install GNU Aspell spell-checker
          command: apt-get -qq -y install aspell-en
      - run:
          name: spell check CSVs
          command: ./_sh/aspell.sh|tee /tmp/spellcheck.txt
      - run:
          name: sort out spelling mistakes
          command: cat /tmp/spellcheck.txt|./_tools/sortaspell.sh > /tmp/dict.txt
      - run:
          name: output in GetText PO
          command: ./_sh/outputPO.sh|gzip -c -v --fast>/tmp/PSO2.po.gz
      - run:
          name: Are there spell mistakes
          command: ./_sh/listaspell.sh | tee /tmp/listaspell.txt
      - store_artifacts:
          path: /tmp/PSO2.po.gz
          destination: PSO2.po.gz
      - store_artifacts:
          path: /tmp/coverage.txt
          destination: coverage.txt
      - store_artifacts:
          path: /tmp/spellcheck.txt
          destination: spellcheck.txt
      - store_artifacts:
          path: /tmp/dict.txt
          destination: dict.txt
      - store_artifacts:
          path: /tmp/mp.log
          destination: mplog.txt
      - store_artifacts:
          path: /tmp/listaspell.txt
          destination: listaspell.txt
